<h2>Write a new comment:</h2>
<%= form_with url: "/comments/#{@a_post.id}",:class => 'form_container',  method: :post	do |form| %>
    <%= form.text_area :text %>
    <br>
    <%= form.submit "Post Comment" %>
<% end %>